{% extends 'index_dash.html' %}
{% block content %}
 {% comment %} <body>
<form action='' method='POST' enctype="multipart/form-data">{% csrf_token %}
 <br>
 <br>
 <input type='text'  name ="full_address" required='True'  maxlength='1000'>  Address
 <br>
 <br>
 <input type='text' name='city_village' placeholder='city/village' required='True' maxlength='100'><br>
 <br>
 <input type='text' name='state' placeholder='state' required='True' maxlength='40'><br>
 <br>
 <input type='text' name='district' placeholder='district' required='True'><br>
 <br>
 <input type='text' name='landmark' placeholder='landmark' required='True'maxlength='400'><br>
 <br>
 <input type='tel' name='pin' placeholder='pin' required='True'maxlength='30'><br>
 <br>


 <input type='tel' name='alt_phone_number' placeholder='alt_phone_number' required='True' maxlength='30'><br>
 <br>  
 <input type='submit'>
 </form> 



<h3>So the current address are <h3>



 <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       
                        <div class="row">
                            <div class="col-lg-6 col-md-6 ">
                                 {% for i in add %}
                                <div class="card">
                                    <div class="card-header">
                                        <strong class="card-title">Address No:{{forloop.counter}}</strong>
                                    </div>
                                   
                                    <div class="card-body">
                                
                                       <p> <b>Name:</b> &nbsp; {{user.first_name}} </p> <br>
                                       <p> <b>Email:</b> &nbsp; {{user.username}} </p> <br>
                                       <p> <b>Another Number:</b> &nbsp; {{i.alt_phone_number}} </p> <br>
                                       <p> <b>City:</b>&nbsp; {{i.city_village}}</p> <br>
                                       <p> <b>State:</b>&nbsp; {{i.district}}</p><br>
                                       <p> <b>Address:</b> &nbsp; {{i.full_address}}</p> <br>
                                       <p> <b>Landmark:</b> &nbsp; {{i.landmark}} </p> <br>
                                       <p> <b>Pin:</b>&nbsp; {{i.pin}}</p>
                                      <br>
                                       <form action='/delete_address/' method='POST'>{% csrf_token %}
                                        <div class='row'>
                                       <input type='hidden' name='add_id' value={{i.pk}} placeholder='delete'>
                                       <button type='submit' placeholder='delete'>Delete address</button>
                                       </div>
                                       </form>
                                     <div>
                                     
                                    
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-lg-6 col-md-6 checkout">
                                <div class="card">
                                    <div class="card-header">
                                        <strong class="card-title">Change Address</strong>
                                    </div>
                                    <div class="card-body">
                                        <form action="" method="POST">
                                            
                                            <div class="form-group">
                                                <label >Address:</label>
                                                <textarea class="form-control" rows="3" placeholder="Enter full address" required ></textarea>
                                              </div>
                                            <div class="form-group">
                                                <label >City:</label>
                                                <input type="text" class="form-control" placeholder="Enter City" required>
                                              </div>
                                              <div class="form-group">
                                                <label >State:</label>
                                                <input type="text" class="form-control" placeholder="Enter state" required>
                                              </div>
                                              <div class="form-group">
                                                <label >Pincode:</label>
                                                <input type="text" class="form-control" placeholder="Enter Pincode" required>
                                              </div>
                                            <div class="text-center mb-5">
                                                <input type="submit" class="btn btn-outline-success" name="address" value="Change Address">
                                            </div>
                                          </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
 {% for i in add %}
 <h5>{{i.full_address}}</h5>
 <br>
 <h5>{{i.alt_phone_number}}</h5>

<form action='/delete_address/' method='POST'>{% csrf_token %}
<div class='row'>
<input type='hidden' name='add_id' value={{i.pk}} placeholder='delete'>
<button type='submit' placeholder='delete'>Delete address</button>
<div>
</form>{% endfor %}  {% endcomment %}
<br>
<br>

<section class="checkout">
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12 mx-auto mb-3 ">
                <div class="card p-5">
                    <h2 class="text-center">Add New Address</h2>
                    <br>
                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                      
                      
                        <div class="form-group">
                            <label >Full Address:</label>
                            <textarea class="form-control" rows="3" name='full_address' placeholder="Enter full address" required ></textarea>
                          </div>
                          <div class="form-group">
                            <label >Landmark:</label>
                            <textarea class="form-control" rows="3" name='landmark' placeholder="Enter full address" required ></textarea>
                          </div>
                        <div class="form-group">
                            <label >City:</label>
                            <input type="text" class="form-control" name='city_v' placeholder="Enter City" required>
                          </div>
                    
                          <div class="form-group">
                            <label >Pincode:</label>
                            <input type="text" class="form-control" name='pin' placeholder="Enter Pincode" required>
                          </div>
                            <div class="form-group">
                          <label >Phone:</label>
                          <input type="tel" class="form-control" name='1st_phone' placeholder="Enter Phone  : +91" required maxlength='11'>
                        </div>
                        <div class="form-group">
                          <label >Alternative Number:</label>
                          <input type="tel" class="form-control" name='alt_phone_number' placeholder="Enter another number: +91" maxlength='11'>
                        </div>
                        <div class="text-center mb-5">
                            <input type="submit">
                        </div>
                      </form>
                      <br>
{%if add_all %}                      <br>
 {% for i in add_all %}
 <h5>{{i.full_address}}</h5>
 <br>{{i.pk}}
 <h5>{{i.alt_phone_number}}</h5>
<br>
 <form action='/delete_address/' method='POST'>{% csrf_token %}
 <div class='row'>
 <input type='hidden' name='add_id' value={{i.pk}} placeholder='delete'>
 <button type='submit' placeholder='delete'>Delete address</button>
 <div>
 </form>

 {% endfor %}
                </div>

            </div>
           
        </div>
    </div>
    {% else %}
    ** Add A Primary Address
{%endif%}

</section>


{% endblock %}
